body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url("https://source.unsplash.com/user/erondu/1600x900") 
    no-repeat center  ;
    position: absolute;
    top: -30px;
    left: -30;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -2;
    filter: blur(70px);
}
.loading-text{
    
    position: absolute;
    font-size: 50px;
    color: #ffff;
    text-align: center;
    z-index: 2;
}